@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);
body {
  font-family:Kumbh sans;
  background-image: linear-gradient(to right, #1FAAB2 0%,#1FAAB2 40% , #FFF 40%, #FFF 100%);
  min-height: 100vh;
  width: flex;
  height: flex;
  justify-content: center;
  display:flex;
  flex-direction:column-reverse;
  align-items:center;
  position: relative;
  padding-left: 13%;
  font-size: 200%;
}
.text-box h1{
  color: var(--text-color-text-1, #1B212D);
  font-family: Kumbh Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 5%;
  }
  .text-box p{
    color: var(--text-color-text-3, #78778B);
    /* Size 16/Size 16 Regular */
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
   padding:1%;
  }
  .input-group_label{
    font-size:14px;
  }
  .int {
   width: 310px;
   padding: 5%;
   margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .link{
    font-size:13px;
    padding-top: 5%;
    padding-left: 0%;
  }
  a{
    padding-left: 16%;
    padding-right: 0%;
    text-transform:capitalize;
    text-decoration: none;
    
 }

  .image{
    position: absolute;
    left: 7%;
   }
   .btn {
  
    padding: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 0%;
    right: 28%;
    border-radius: 10px;
    top: 75%;
    width: 28%;
    color: #ffffff;
    font-weight:500;
    position: absolute;
    text-transform:capitalize;
    background:#00a19d;
    outline:#00a19d;
    cursor: pointer;
   border-color:#1FAAB2;    
   border: 1px solid #ccc;
  }

 
  
  
  @keyframes glow {
    from {
      background-position: 0%;
    }
    to {
      background-position: 400%;
    }
  }
@media (max-width:1100px){
  .text-box h1{
    font-size: 2rem;
    
  }
  .btn{
    font-size: 0.9rem;
    
  }
}
@media (max-width:725px){
  .text-box h1{
    font-size: 1rem;
    line-height: 1.5;
  }
  .btn{
    font-size: 0.9rem;
    line-height: 1.5;
  }
}
@media (max-width:725px){
  .text-box h1{
    font-size: 1rem;
    line-height: 1.5;
  }
}